* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
:root {
  --color-primary: #cda459;
  --color-white: #eaeaea;
}

.background-image {
  background-image: url("../Images/erde.jpg");
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: brightness(70%);
  z-index: -1;
}

/* Start Nav Bar*/
nav {
  width: 100%;
  height: 5rem;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  display: grid;
  place-items: center;
}

.nav-container {
  justify-content: center;
  display: flex;
  align-items: center;
}

.nav-container ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

.logo h3 {
  font-size: 25px;
  color: var(--color-white);
}

.nav-link li a {
  color: var(--color-white);
  font-size: 17px;
  display: inline-block;
  font-size: 20px;
}

.nav-link li a:hover {
  color: var(--color-primary);
  transition: 0.3s ease;
}

.nav-link li .active {
  color: var(--color-primary);
}

.nav-container {
  display: flex;
  height: 5%;
  width: fit-content;
  margin: 0;
  background-color: rgba(200, 200, 200, 0.4);
  border-radius: 0.625rem;
  padding: 1.25rem;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 2.3vh;
  justify-items: center;
}

/* End Nav Bar*/
.main-header {
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  color: var(--color-white);
  margin-top: 6rem;
  font-size: 2rem;
}

.main {
  padding: 0;
  margin: 2;
  display: flex;
  flex-direction: column;
  padding: 2.1rem;
  width: fit-content;
  background-color: #fff;
  border-radius: 0.625rem;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  margin: auto;
}

.main-head-list li {
  padding-bottom: 2rem;
}

.weissach,
.leibzig,
.zuffenhausen,
.ludwigsburg {
  color: black;
  display: inline-block;
  width: fit-content;
  padding: 12px 28px;
  background: var(--color-primary);
  border: 2px solid var(--color-primary);
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: var(--color-white);
  letter-spacing: 0.4px;
  font-weight: 600;
  transition: 0.4s ease;
}

.weissach:hover,
.leibzig:hover,
.zuffenhausen:hover,
.ludwigsburg:hover {
  color: black;
  background: transparent;
  color: var(--color-primary);
}